<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Precedence</title>
    <link rel="stylesheet" href='/styles/home.css' type='text/css'>
</head>
<body>
    <header>
        <h1>First Precedence</h1>
        <h2 class="tagline">Simplicity to aid your Productivity</h2>
    </header>
    <main class='container'>
        <!-- using id so we can get document information from script. -->
        <input type="text" id="input">
        <button id="to-do-add-button">+</button>
        <div id='to-do-container'>

        </div>
    </main>
    <script src='./home.js'></script>
</body>
</html>